name: Test Template

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.11', '3.12']

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cookiecutter

    - name: Test template generation
      env:
        # 强制 Python 使用 UTF-8 作为默认编码，解决 windows 上的打印问题
        PYTHONUTF8:"1"
      run: |
        cookiecutter . --no-input

    - name: Check generated project
      run: |
        cd my-mini-py-project
        ls -la
        python main.py | grep "Hello Python!"
